<section id="users-list">
  <div class="users-form text-center">
    <div class="container">
      <div class="row">
        <% @users.each.with_index(1) do |user, i| %>
          <div class="col-12 col-md-3">
            <%= link_to "/users/#{user.id}", method: :get do %>
              <%= image_tag user.image_url(:thumb) %>
              <p><%= user.name %></p>
            <% end %>
            <p>Skills&nbsp;&nbsp;<%= user.skils.delete_if(&:empty?).join(",") %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
