/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap";


@media screen and (min-width:0px){
  /*0px以上で適用する内容*/
  @import "smart_phone";
}

@media screen and (min-width:300px){
  /*300px以上で適用する内容*/
}

@media screen and (min-width:600px){
  /*600px以上で適用する内容*/
  @import "users";
  @import "users_skills";
}

.form-input {
  input {
    width: 300px;
    margin: 10px;
  }
  label {
    padding-right: 15px;
  }
  textarea {
    width: 300px;
  }
}

.btn-wrapper {
  clear: both;
  padding: 30px;
  input {
    width: 100px;
  }
}

#edit-form {
  input {
    padding: 10px;
    width: 100%;
  }
  .btn-wrapper {
    input {
      clear: both;
      width: 100px;
    }
  }
}
