#users-list {
  padding-top: 50px;
  h3 {
    font-size: 20px;
  }
  .prof-image {
    padding-bottom: 15px;
  }
  th, td {
    font-size: 15px;
  }
  .progress {
    height: 1.3rem;
    margin: 10px;
  }
  .progressbar-container {
    padding-top: 50px;
  }
}

#new-user-form {
  width: 350px;
  h3 {
    font-size: 20px;
    padding-bottom: 10px;
  }
  input[type="checkbox"] {
    margin: 0 10px;
  }
  input {
    padding: 10px;
  }
  label {
    padding-right: 10px;
  }
  .user-form-input {
    label {
      padding: 5px;
      font-size: 15px;
    }
    input {
      margin-left: 10px;
    }
  }
  .checkbox {
    margin-left: 5px;
  }
}

#users-list-show {
  padding:50px 0;
  h3 {
    font-size: 20px;
  }
  table {
    margin: 0 auto;
  }
  .prof-image {
    padding-bottom: 30px;
  }
  .progress {
    height: 2rem;
    margin: 30px 0;
  }
  .progressbar-container {
    margin: 0 auto;
  }
  .table-container {
    padding: 80px 0;
  }
  .modal-button {
    padding: 30px 0;
  }
  .user-param-button {
    padding-top: 50px;
  }
  button, html [type="button"], [type="reset"], [type="submit"] {
    width: 100px;
    margin: 0 5px;
  }
}

#new-users-skill-form {
  padding: 50px 0;
  h3 {
    font-size: 20px;
    padding: 10px 0;
  }
  td {
    font-size: 15px;
  }
}
